@media screen and (max-width: 1100px) {
  .projectFlex{
    font-size: 12px;
  }
  .projectFlex img{
    height: 55vh;
  }
  .gymPic{
    height: 55vh;
    width: 30vw;
  }
  .projects h3{
    font-size: 18px;
  }
}

@media screen and (max-width: 950px) {
  .navLinks{
    width: 45vw;
  }
  .heroSection{
    width: 80vw;
  }
  .projects{
    width: 80vw;
    margin: 0 auto;
    margin-top: 5%;
  }
  .projectFlex{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
  }

  .aboutFlex{
    width: 75vw;
  }
  .aboutContent{
    padding: 0;
  }
}

@media screen and (max-width: 850px) {
  .projects{
    width: 90vw;
    margin: 0 auto;
    margin-top: 5%;
  }
  .projectFlex{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    width: 85vw;
  }
  .gymPic{
    height: 55vh;
    width: 38vw;
  }
  .navLinks {
    width: 50vw;
  }
}

  /* have to hide nav links downwards*/
@media screen and (max-width: 750px) {
  .navLinks{
    display: none;
  }
  .navButton{
    display: flex;
  }
  .logo{
    height: 9vh;
  }
  .navImg{
    width: 40vw;
    /* border: 1px solid black; */
  }
  .heroSection{
    width: 90vw;
  }
  .subDiv1 p{
    font-size:18px;
    margin-top: 0%;
    width: 40vw;
  }
  .aboutFlex{
    width: 90vw;
  }
  .aboutContent{
    font-size: 18px;
    width: 45vw;
  }
}
@media screen and (max-width: 670px) {
  .navLinks{
    display: none;
  }
  .navButton{
    display: flex;
  }
  .heroSection{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top:5vh;
    justify-content: space-between;
    flex-direction: column;
  }
  .subDiv1 p{
    font-size:20px;
    margin-top: 0%;
    width: 75vw;
  }
  .subDiv2{
    display: flex;
    justify-content: center;
  }
  .subDiv2 img{
    height: 70vh;
    border-radius: 50%;
  }
  .projects h3{
    text-align:center;
    font-size: 16px;
  }
}
@media screen and (max-width: 650px) {
  .navLinks{
    display: none;
  }
  .navButton{
    display: flex;
  }
  .projects{
    margin-top: 10vh;
  }
  .projectFlex{
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
  }
  .projectFlex img {
    height: 60vh;
  }

  .gymPic{
    width: 42vw;
  }

}
@media screen and (max-width: 600px){
  .navLinks{
    display: none;
  }
  .navButton{
    display: flex;
  }
  #about{
    margin-top: 20vh;
  }
  .aboutFlex{
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
  }
  .aboutContent{
    width: 70vw;
    text-align: center;
  }
  .projects{
    height: 150vh;
  }
  .projectFlex{
    flex-direction: column;
    align-items: center;
  }

}
@media screen and (max-width: 550px) {
  .navLinks{
    display: none;
  }
  .navButton{
    display: flex;
  }
  
}
@media screen and (max-width: 450px) {
  .navLinks{
    display: none;
  }
  .navButton{
    display: flex;
  }
  
}
@media screen and (max-width: 350px) {
  .navLinks{
    display: none;
  }
  .navButton{
    display: flex;
  }
  
}
@media screen and (max-width: 280px) {
  .navLinks{
    display: none;
  }
  .navButton{
    display: flex;
  }
  
}